.particles-wrapper {
    position: relative;
    background:linear-gradient(to right,#6577d8,#b8519a);
    color: white;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    .description {
        padding:40px;
    }
}
h1 {
    color: white
}
p {
    color: white
}